# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# MacOS related
.DS_Store

# Windows related
Thumbs.db

# Android related
*.apk
*.aar
*.iml
.local/

# iOS related
Pods/
Runner.xcworkspace/
Generated.xcconfig
*.xcuserstate

# Others
*.log
